body {
	font-family: Helvetica;

	background-color: #2A3440;
}
div.name {
	text-align: center;
}
footer {
	margin: auto;
	width: 80%;
	text-align: center;

}

.spacer {
	height: 50px;
}