body {
	font-family: Helvetica;

	background-color: #2A3440;
}
header {
	margin: auto;
	width: 80%;
}
div.name {
	text-align: center;
}
footer {
	margin: auto;
	width: 80%;
	border: 5px;
	text-align: center;
}
